<h1>E-government</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Project brief</th>
      <th>Submitter</th>
      <th>Mandate</th>
      <th>Agency</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Awesome project idea</td>
      <td>Rystraum F. Gamonez</td>
      <td><%= link_to "E-government", mandates_path %></td>
      <td>DOH</td>
      <td>
        <%= link_to "Approve", "#", class: "btn btn-success" %>
        <%= link_to "Deny", "#", class: "btn btn-info" %>
      </td>
    </tr>
    <tr>
      <td>Awesome project idea1</td>
      <td>Rystraum F. Gamonez</td>
      <td><%= link_to "E-government", mandates_path %></td>
      <td>DOH</td>
      <td>
        <%= link_to "Approve", "#", class: "btn btn-success" %>
        <%= link_to "Deny", "#", class: "btn btn-info" %>
      </td>
    </tr>
    <tr>
      <td>Awesome project idea2</td>
      <td>Rystraum F. Gamonez</td>
      <td><%= link_to "E-government", mandates_path %></td>
      <td>DOH</td>
      <td>
      </td>
    </tr>
  </tbody>
</table>